<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
	<testsuites>
		<testsuite name="unit">
			<directory>test</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="BASE_DIR" value="."/>
		<const name="UNITTEST" value="1"/>
	</php>
</phpunit>
